<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scissorhands</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <ul class="nav">
      <li>@Html.ActionLink("Home", "Index", "Home")</li>
      <li>@Html.ActionLink("All Stylists", "Index", "Stylists")</li>
      <li>@Html.ActionLink("All Clients", "Index", "Clients")</li>
    </ul>
    <div class="box">
      @RenderBody()
    </div>
  </body>
</html>