body {
  background: url(../img/salonbackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.box {
  background: rgba(247, 246, 243, 0.9);
  border-radius: 5px;
  border: 10px solid rgb(30, 40, 45);
  padding: 20px;
  text-align: center;
  margin: 20%;
}

.nav {
  top: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
  position: fixed;
  overflow: auto;
  display: inline;
}

li {
  float: left;
}