@{
  Layout = "_Layout";
}

<h1>Welcome to Edward's</h1>

<blockquote class="blockquote">
  <p class="mb-0">One person's crazyness is another person's reality. So get a neat haircut!</p>
  <footer class="blockquote-footer">Tim Burton, Probably</footer>
</blockquote>