@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

@{
  Layout = "_Layout";
}

<h1>Clients</h1>

@if (Model.Count == 0)
{
  <p>You have no clients!</p>
}

@foreach (Client client in Model)
{ 
  <p>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId}) | Stylist: @Html.ActionLink($"{client.Stylist.Name}", "Details", "Stylists", new { id = client.StylistId} )</p>   
}